.expense-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.expense-list-item {
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
}
